{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% block body %}
<center><h1 class="display-4">{{ title }} Page</h1></center>
<form method="POST" class="form-horizontal">
    <fieldset>
    <div class="form-group">
      <label class="col-md-4 control-label" for="title">Title</label>  
      <div class="col-md-5">
            <input type="hidden" name="id" value="{{ data.cm_id }}"> 
            <input id="title" name="title" type="text" class="form-control input-md" 
                value="{{ data.title }}">
        
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="url">Url</label>  
      <div class="col-md-5">
      <input id="url" name="url" type="text" placeholder="" class="form-control input-md"
        value="{{ data.url }}">
        
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="status">Status</label>  
      <div class="col-md-4">
      <input id="status" name="status" type="text" placeholder="" class="form-control input-md"
        value="{{ data.status }}">
        
      </div>
    </div>
    
    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="content">Content</label>
      <div class="col-md-4">                     
        <textarea class="form-control" id="content" name="content">{{ data.content }}</textarea>
      </div>
    </div>
    
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="add"></label>
      <div class="col-md-4">
        <button id="Add" name="Add" class="btn btn-primary">{{ title }}</button>
      </div>
    </div>    
</fieldset>
</form>
{% endblock %}