{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% block body %}
    
    <center><h1 class="display-4">Categories</h1></center>
    <a style="margin-right: 80px;float: right" class='btn btn-outline-dark' href="add">Add Category</a>
    {% if categoryList %}
    <table class='table' style='text-align:center;margin:60px;width: 90%'>
        <thead class='table-success'>
            {% for key in categoryKey %}
                <th>{{ key }}</th>
            {% endfor %}    
                <th colspan="2">Actions</th>
        </thead>
    {% for category in categoryList %}
        <tr>
            <td>{{ category.cid }}</td>
            <td>{% if category.parent_name %}
                    {{ category.parent_name }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>{{ category.cname }}</td>
            <td>{{ category.url }}</td>
            <td><img class='img-fluid img-thumbnail' style='width: 180px; height: 110px'
                     src="/Cybercom/php/Site/Resources/uploads/Categories/{{ category.image }}"></td>
            <td>{{ category.status }}</td>
            <td>{{ category.description }}</td>
            <td>{{ category.created_at }}</td>
            <td><a class="badge badge-dark" href="edit?id={{ category.cid }}">Edit</a></td>
            <td><a class="badge badge-dark" href="delete?id={{ category.cid }}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}
{% endblock %}