{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% block body %}
    <div><center><h1 class="display-4">Products</h1></center>
    <a style="margin-right: 80px;float: right" class='btn btn-outline-dark' href="add">
        Add Product</a>
    {% if productList %}
    <table class='table' style='text-align:center;margin:60px;width: 90%'>
        <thead class='table-success'>
        {% for key in productKey %}
            <th>{{ key }}</th>
        {% endfor %}    
        <th colspan="2">Actions</th></thead>
    {% for product in productList %}
        <tr>
            <td>{{ product.pid }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.url }}</td>
            <td><img class='img-fluid img-thumbnail' style='width: 180px; height: 110px'
                src="/Cybercom/php/Site/Resources/uploads/products/{{ product.image }}">
            </td>        
            <td>{{ product.status }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.short_description }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.stock }}</td>
            <td>{{ product.sku }}</td>
            <td>{{ product.created_at }}</td>
            <td><a href="edit?id={{ product.pid }}">Edit</a></td>
            <td><a href="delete?id={{ product.pid }}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
    {% endif %}

{% endblock %}