<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>{% block title %}{% endblock %} </title>
    </head>
<body>
    <div style='margin:10px' class=btn-group mr-2' role='group'>
        <a class='btn btn-outline-dark' href="/Cybercom/php/Site/public/admin/Categories/index">
            Manage Categories</a>
        <a class='btn btn-outline-dark' href="/Cybercom/php/Site/public/admin/product/index">
            Manage Products</a>
        <a class='btn btn-outline-dark' href="/Cybercom/php/Site/public/admin/cms/pages/index">
            Manage CMS</a>
    </div>
    <a style="margin: 10px;float: right;" class='btn btn-outline-dark' href="/Cybercom/php/Site/public/admin/home/logout">
            Logout</a>
    {% block body %}
    {% endblock %}
    </body>
</html>