<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>{% block title %}{% endblock %} </title>
    </head>
<body>
    <h1 class="display-4">Site Title</h1>
    <div style='margin:10px' class=btn-group mr-2' role='group'>
        {% for category in categoryList %}
            <a class='btn btn-outline-dark' href="/Cybercom/php/Site/public/admin/Categories/index">{{ category.cname }}</a>
        {% endfor %}
        
    </div>
    <hr>
    {% block body %}
    {% endblock %}
    </body>
</html>