<?xml version="1.0"?>
<config>
    <modules>
        <Cybercom_Salesman>
             <version>1.0.2</version>
        </Cybercom_Salesman>
    </modules>
    <global>
        <helpers>
            <salesman>
                <class>Cybercom_Salesman_Helper</class>
            </salesman>
        </helpers>
        <blocks>
            <salesman>
                <class>Cybercom_Salesman_Block</class>
            </salesman>
        </blocks>
        <models>
            <salesman>
                <class>Cybercom_Salesman_Model</class>
                <resourceModel>salesman_resource</resourceModel>
            </salesman>
            <salesman_resource>
                <class>Cybercom_Salesman_Model_Resource</class>
                <entities>
                    <salesman>
                        <table>salesman</table>
                    </salesman>
                    <address>
                        <table>salesman_address</table>
                    </address>                    
                </entities>
            </salesman_resource>
        </models>
        <resources>
			 <salesman_setup>
				 <setup>
				    <module>Cybercom_Salesman</module>
				 </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
			 </salesman_setup>

            <salesman_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </salesman_write>

            <salesman_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </salesman_read>
		 </resources>
    </global>
    <admin>
        <routers>
            <salesman>
                <use>admin</use>
                <args>
                    <module>Cybercom_Salesman</module>
                    <frontName>admin_salesman</frontName>
                </args>
            </salesman>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <salesman>
                    <file>salesman.xml</file>
                </salesman>
            </updates>
        </layout>
    </adminhtml>
</config>