<?xml version="1.0"?>
<config>
    <modules>
        <Cybercom_Abc>
            <version>0.1.0</version>
        </Cybercom_Abc>
    </modules>
    <frontend>
        <routers>
            <abc>
                <use>standard</use>
                <args>
                    <module>Cybercom_Abc</module>
                    <frontName>abc</frontName>
                </args>
            </abc>
        </routers>
        <layout>
            <updates>
                <abc>
                    <file>abc.xml</file>
                </abc>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <abc>
                <class>Cybercom_Abc_Model</class>
                <resourceModel>abc_mysql4</resourceModel>
            </abc>
            <abc_mysql4>
                <class>Cybercom_Abc_Model_Mysql4</class>
                <entities>
                    <abc>
                        <table>abc</table>
                    </abc>
                </entities>
            </abc_mysql4>
        </models>
        <resources>
            <abc_setup>
                <setup>
                    <module>Cybercom_Abc</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </abc_setup>
            <abc_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </abc_write>
            <abc_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </abc_read>
        </resources>
        <blocks>
            <abc>
                <class>Cybercom_Abc_Block</class>
            </abc>
        </blocks>
        <helpers>
            <abc>
                <class>Cybercom_Abc_Helper</class>
            </abc>
        </helpers>
    </global>
</config>